.hero{
    color: white;
    position: relative;
    padding: 0 2rem 2rem 2rem;

}

.hero_container{
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

/* Left Hand Side */
.hero_container-lhs{
    gap: 1.5rem;
}

.hero_container-lhs_title{
    position: relative;
    z-index: 1;
}

.hero_container-lhs_title>h1{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3rem;
}

.hero_container-lhs-desc{
    font-size: .7rem;
}

.hero_container-lhs_title-orangeCircle{
    position: absolute;
    top: 0;
    left: 110px;
    border-radius: 50%;
    background: var(--orange-gradient);
    padding: 1.3rem;
    z-index: -1;
}

.hero-container-lhs-searchBar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, .3);
    padding: 0 1rem;
    justify-content: space-between;
    width: 100%;
}

.hero-container-lhs-searchBar>input{
    border: none;
    outline: none;
}

.stats{
    width: 100%;
    justify-content: space-between;
}

.stat>:first-child{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: var(--irange);
}

/* Right Hand Side */
.hero_container-rhs_image-container{
    width: 20rem;
    height: 25rem;
    overflow: hidden;

    /* border-radius: top-right top-right bottom-right  bottom-left; */
    border-radius: 0 15rem 0 15rem;
    border: 8px solid rgba(255, 255, 255, .12);
}
    .hero_container-rhs_image-container>img{
        width: 100%;
        height: 100%;
        
    }